.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.first {
  width: 100%;
  min-height: 75vh ;
  display: inline-block;
  /* background-color: green !important; */
}
.second {
  width: 20%;
  min-height: 40vh;
  display: inline-block;
  background-color: yellow !important;
  margin-top: 20vh;
  margin-left : 40vw;
}
@media screen and (max-width: 500px) {  
  .first,
  .second,
  .third {
      width: 70%;
  }
}

